<nav class="maa blue lighten-3">
  <div class="nav-wrapper container">
    <%= link_to "Card System", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Home', cards_path %></li>
      <li><%= link_to 'Create new card', new_card_path %></li>
    </ul>
  </div>
</nav>
