<%= form_tag cards_path, method: 'get', class: "col s6 center-align" do %>
<div class="input-field col s6">
  <%= label_tag :search, 'Search for:', class: "active" %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search card', name: nil, class: "waves-effect waves-light btn" %>
</div>
<% end %>

<ul class="collection with-header">
  <li class="collection-header">
    <h3>
      <% if @flag %>
        <%= 'Registered cards' %>
      <% else %>
        <%= 'Cards found' %>
      <% end %>
    </h3>
  </li>
  <table>
    <thead>
      <tr>
        <th>
          Frente
        </th>
        <th>
          Verso
        </th>
        <th>
          Delete
        </th>
      </tr>
    </thead>
    <tbody>
    <% @cards.each do |card| %>
      <%= link_to render(partial: card), card %>
    <% end %>
    </tbody>
  </table>
</ul>
