<%= form_for @card, class: "col s6 center-align" do |f| %>
  <div class="input-field col s6">
    <%= f.label :front, 'Front view' %>
    <%= f.text_field :front %>
  </div>
  <div class="input-field col s6">
    <%= f.label :back, 'Back view' %>
    <%= f.text_field :back %>
  </div>
    <%= f.submit class: "waves-effect waves-light btn" %>

<% end %>
